@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@200;400;500;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css');
@import url('./animations.css');

:root {
    /* Covertendo a unidade rem (1rem = 10px) */
    font-size: 62.5%;
    --pink-100: #f8a5a9;
    --pink-200: #f259a0;
    --pink-300: #ef2f8a; /* rgba(239, 47, 138,0.5)*/    
    --purple-100: #afa3d6;
    --purple-200: #4c3b85;
    --purple-400: #3e1e57;
    --purple-500: #150127; /* rgba(21, 1, 39.0.5)*/    
    --blue-100: #a4e1f5;
    --blue-200: #3ec0e5;
    --orange-200: #f19d10;
    --disabled: #eee;
    --success: #20c997;
    --danger: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    background-color: var(--purple-500);
    color: #fff;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

/* Section Home */
.home {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), transparent, var(--purple-500)), url("../assets/universe.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 70rem;
}

.content-home {
    width: 100%;
    height: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    animation: fromRight .7s ease-in-out;
}

.content-home .home-title {
    font-size: 5.6rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.content-home .home-text {
    font-size: 2.4rem;
    margin: 2rem 0;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
}

.content-home .home-btn {
    background: var(--pink-200);
    color: #fff;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 1.6rem 3rem;
    border-radius: 2.4rem;
    margin-top: 2.0rem;
    transition: .3s;
}

.content-home .home-btn:hover {
    background: var(--pink-300);
}

.menu {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 6rem;
    box-shadow: 0 -.5rem 2rem 0 var(--pink-300);
    text-transform: uppercase;
    transition: .3s;
}

.menu a {
    padding: .7rem;
    color: #fff;
}

.menu li {
    display: inline-block;
}

.menu li a {
    margin-left: .5rem;
    font-size: 1.6rem;
    transition: .3s;
}

.menu li a:hover {
    color: var(--pink-300);
}

span#imenu,
.menu-mobile {
    display: none;
}

.menu-mobile .material-icons {
    color: #fff;
}

.logo {
    font-size: 2.5rem;
    font-family: Audiowide, sans-serif;
    font-weight: bold;
}

/* Section Courses */
.courses {
    width: 100%;
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses-content {
    width: 100%;
}

.courses h2 {
    width: 100%;
    margin: 3rem 0;
    font-size: 3.2rem;
    text-align: center;
    color: var(--pink-100);
}

.wrapper-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--pink-300);
    min-width: 25rem;
    height: 28rem;
    padding: 2.5rem;
    margin: 1.5rem .5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .2s;
    /* animation: fromBottom .7s backwards; */
}

.card:hover {
    box-shadow: 0 0 2rem 0 var(--pink-300);
    transform: scale(1.1);
}

.card img {
    margin-bottom: 1rem;
}

.card h3 {
    margin: 2rem 0;
    font-size: 2rem;
    color: var(--blue-200);
}

.card li {
    text-align: center;
    color: var(--purple-100);
}

.about,
.contact {
    display: flex;
    width: 100%;
    height: 70rem;
    align-items: center;
}

/* Section About */
.about-text {
    padding: 4rem 6rem;
    color: var(--purple-100);
}

.about h2 {
    font-size: 3.6rem;
    margin: 2rem 0 3rem;
    color: var(--orange-200);
}

.about p {
    margin: .7rem 0;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .06rem;
    line-height: 3rem;
}

/* Section Depositions */
.depositions {
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    letter-spacing: .02rem;
}

.depositions h2 {
    margin: 2rem 0;
    font-size: 3.2rem;
    color: var(--blue-100);
    align-self: flex-start;
}

.depositions-wrapper {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.depositions-content {
    width: 30rem;
    margin: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.depositions-content h3,
.depositions-content p {
    font-weight: 400;
    text-align: center;
}

.depositions-content .depositions-title {
    font-size: 1.8rem;
    margin: 2rem 0;
    color: var(--pink-200);
}

.depositions-content .depositions-text {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--purple-100);
    line-height: 2rem;
}

.depositions-picture {
    background: linear-gradient(105deg, var(--blue-100) 20%, var(--pink-200) 80%);
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
}

.depositions-content img {
    width: 9rem;
    margin: .25rem;
    border-radius: 50%;
}

/* Section Contact */
.contact {
    width: 100%;
    margin: 6rem 0;
    justify-content: space-between;
}

.contact-text {
    height: 35rem;
}

.contact-text img {
    width: 80%;
}

.contact h2 {
    margin: 3rem 0;
    font-size: 3.2rem;
    color: var(--pink-200);
}

.contact-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}

.input-contact {
    background: transparent;
    width: 100%;
    padding: .7rem;
    margin: 1rem 0;
    outline: none;
    border: .15rem solid var(--pink-300);
    font-size: 1.4rem;
    color: var(--purple-100);
    transition: .3s;
}

.input-contact:focus {
    box-shadow: 0 0 .6rem .05rem var(--pink-200);
}

.input-contact::placeholder,
textarea::placeholder {
    font-size: 1.4rem;
    color: var(--purple-100);
    opacity: 0.5;
}

.contact textarea {
    font-family: Roboto, sans-serif;
}

.contact-btn {
    background: transparent;
    margin: .5rem 0 0;
    padding: .7rem 2rem;
    border: .15rem solid var(--pink-300);
    color: var(--purple-100);
    align-self: flex-end;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .3s;
}

.contact-btn:hover {
    background: var(--pink-300);
    color: #fff;
}

/* Modal */
.bg-modal {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 2;
    top: 0;
    display: none;
}

.modal {
    background-color: #fff;
    width: 60%;
    height: auto;
    margin: 8rem auto 0 auto;
    top: -100%;
    border-radius: .4rem;

    animation: down .4s;
}

.modal-content {
    padding: 3rem 3rem;
}

.modal-content h3 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--purple-100);
    margin: 0 0 2.5rem;
}

.modal-content input, select {
    width: 100%;
    height: 3.5rem;
    margin: .5rem 0 1rem;
    padding: .6rem;
    outline: none;
}

.modal label {
    font-size: 1.4rem;
    color: var(--purple-200);
}

.modal input, select {
    border: .1rem solid var(--purple-100);
    color: var(--purple-200);
    border-radius: .4rem;
}

.modal input:focus {
    box-shadow: 0 0 .3rem 0 var(--purple-200);
}

.modal input:disabled {
    background-color: var(--disabled);
}

.modal-btn {
    background: var(--purple-100);
    margin: 1rem 0;
    position: relative;
    left: calc(100% - 11.034rem);
    padding: 1rem 2rem;
    border: none;
    border-radius: .4rem;
    color: var(--purple-400);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.modal-btn:hover,
.modal-btn:active {
    background: var(--purple-200);
    color: var(--purple-100);
}

.modal-btn:disabled {
    background: var(--disabled);
    color: #aaa;
    cursor: default;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.col {
    width: 100%;
}

#col-opt select {
    width: calc(100% - .5rem);
}

.col-2 {
    width: calc(50% - .5rem);
}

.col-3 {
    width: calc((100% / 3) - .5rem);
}

a.modal-btn-close {
    position: relative;
    top: .5rem;
    left: calc(100% - 2.4rem);
}

.material-icons {
    color: #fff;
    cursor: pointer;
}

.modal-btn-close .material-icons {
    color: var(--purple-200);
}

.modal-btn-close .material-icons:hover {
    color: var(--pink-300);
}

span.msg {
    background: transparent;
    position: absolute;
    display: none ;
    width: 25rem; 
    height: 4rem;   
    margin: 1rem auto;
    padding: 1rem 0;
    border-radius: .4rem; 
    font-size: 1.5rem;
    text-align: center;    
    color: #fff;
    top: -100%;
    left: calc(50% - 12.5rem);
    z-index: 4;

    animation: down .3s;
}

.success {
    background-color: var(--success);
}

/* Footer */
.footer {
    background: var(--purple-100);
    display: flex;
    flex-direction: column;
    padding: 6rem 4rem 3rem;
    font-size: 1.4rem;
    color: var(--purple-500);
    font-weight: 500;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 2rem;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
}

.social-media li {
    display: inline;
}

.ti {
    font-size: 2.4rem;
    color: var(--purple-200);
    margin-left: 2rem;
}

.ti:hover {
    color: var(--purple-400);
}

.credits {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2rem 0 0;
    text-align: center;
}

.credits a {
    color: var(--purple-200);
}